
body {
   display: block;
   margin: 0 auto;
   background-color: #ffffc3;
   color:#272e6e;
   width: 600px
}

.nav {
   text-align: center;
}

button {
   padding: 10px 20px 10px 20px;
   border-radius: 5px;
   border-color: #e95d35;
   background-color: #ffc55c;
   color:#e95d35;
   font-size: 20px;    
}

hr {
   margin-top: 25px;
}

ul {
   list-style: none;
}

li {
   padding-top: 10px;
   font-size: 18px
}

a {
   text-decoration: none;
   color:#272e6e;
}

a:hover {
   color:#e95d35;
}

img {
   display: block;
   margin: 0 auto;
   border-radius: 10px;
   border: solid 2px #272e6e;
   width: 300px;
}